* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.gallery-item {
  margin: 5px;
  width: 20%;
}

div.gallery-item img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 10px;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}

div.gallery-item p {
  margin: 0;
  padding: 0;
  font-size: 12px; 
  text-align: center;
  color: #666;
}