body {
  background-color: #e0e0e0; /* gris clair */
}
.card {
  background-color: white;
  border: 2px solid #ccc;       
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  border-radius: 10px;          
  width: 300px;                 
  margin: 50px auto;            
  padding: 50px;               
  text-align: center;           
  font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
p{
    text-align: center;
    font-size: 19px;
    font-weight: normal;
    color: black;
}

img {
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 50%;      
  width: 100px;
  height: 100px;
  object-fit: cover;        
}


.buttons {
  display: flex;
  justify-content: center;  
  flex-direction: column;
  gap: 10px;                
}


.primary {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}


.secondary {
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}


.primary:hover {
  background-color: darkblue;
}

.secondary:hover {
  background-color: blue;
  color: white;
}