body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}
.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
}

.menu li {
    padding: 15px 80px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.home {
    background-color: #92CE0A;
}
.home:Hover {
    background-color: #048753;

}
.Contact a {
    text-decoration: none;
    color: white;
}
.Videos {
    background-color: #FFE202;
}
.Videos:Hover {
    background-color: #aecb09;}
.Campaigns {
    background-color: #0052DA;
}
.Campaigns:Hover {
    background-color: #15058e;}
.Volunteer {
    background-color: #FF5241;
}
.Volunteer:Hover {
    background-color: #932304;}
.Contact {
    background-color: #04BACF;
}
.Contact:Hover {
    background-color: #067c82;}