body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.grey {
    width: 200px;
    height: 400px;
    background-color: rgb(185, 182, 182);
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #555; 
    border: 3px solid black;
}
.red {
    animation: lightRed 9s infinite;
}
.yellow {
    animation: lightYellow 9s infinite;
}
.green {
    animation: lightGreen 9s infinite;
}

@keyframes lightRed {
    0%, 33.33% { background-color: red; }
    33.34%, 100% { background-color: #555; }
}

@keyframes lightYellow {
    0%, 33.33% { background-color: #555; }
    33.34%, 66.66% { background-color: yellow; }
    66.67%, 100% { background-color: #555; }
}

@keyframes lightGreen {
    0%, 66.66% { background-color: #555; }
    66.67%, 100% { background-color: green; }
}