* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#main1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#imagesContainer img {
  display: none;
  width: 1000px;
  height: 650px;
  box-shadow: 0 0 10px #111111b9;
  border-radius: 10px;
}
#imagesContainer img.active {
  display: block;
}

#nextPrev {
  width: 990px;
  margin-top: 10px;
  display: flex;
  position: absolute;
  justify-content: space-between;
}
#nextPrev img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.612);
  border-radius: 50%;
}
