body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}

.liste {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('Images/bg_body.png');
}

.menu {
    position: absolute;
    right: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
}

.menu li {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.home {
    background-color: #92CE0A;
}
.home:Hover {
    background-color: #048753;

}
.Contact a {
    text-decoration: none;
    color: white;
}
.Videos {
    background-color: #FFE202;
}
.Videos:Hover {
    background-color: #aecb09;}
.Campaigns {
    background-color: #0052DA;
}
.Campaigns:Hover {
    background-color: #15058e;}
.Volunteer {
    background-color: #FF5241;
}
.Volunteer:Hover {
    background-color: #932304;}
.Contact {
    background-color: #04BACF;
}
.Contact:Hover {
    background-color: #067c82;}
.text1 {
    background-color: white;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.hope {
    background-color: #92CE0A;
    font-weight: bold;
    width: 594px;
    height: 400px;
    left: 0%;

}

.change {
    font-weight: bold;
    width: 40%;
    height: 50px;
    right: 0%;

}

.desc {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}
.des {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.Donate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    width: 50%;
    height: 50px;
    color: white;
    background-color: #FF5241;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0%;
}

.card {
    background-color: #92CE0A;
    width: 200px; 
    height: 250px;
    padding: 10px;
}
.card:Hover {
    background-color: #048753;

}
.card1 { 
    background-color: #FFE202;
    width: 200px;
    height: 250px;
    padding: 10px;

}
.card1:Hover {
    background-color: #048753;

}
.card2 {
    background-color: #0052DA;
    width: 200px;
    height: 250px;
    padding: 10px;

}
.card2:Hover {
    background-color: #048753;

}
.card3 {
    background-color: #FF5241;
    width: 200px;
    height: 250px;
    padding: 10px;

}
.card3:Hover {
    background-color: #048753;

}
h2 {
    color: blue;
}

.about {
    background-color: white;
    margin: 5px;
    display: flex;
}

.paragraph {
    font-weight: normal;
    width: 40%;
    height: 50px;
    padding: 0px 10px;
}

.all {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.digital h2 {
  color: #0078D7;
  margin: 0;
  font-size: 16px;
}

.digital p {
  font-size: 12px;
  color: #555;
  margin: 3px 0 0 0;
}

.footer {
  display: flex;
  gap: 7px;
}

.footer div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.facebook {
  background-color: #92CE0A;
}

.twitter {
  background-color: #FFE202;
}

.pinterest {
  background-color: #0052DA;
}

