* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#main2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f4f8; */
}

.zone,
#TelesZones {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#TelesZones {
  flex-direction: column;
}
span {
  margin-left: 10px;
  display: none;
}
form {
  background-color: #fff;
  border-bottom: 4px solid #6366f1;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #a5b4fc;
}
form div label {
  width: 100px;
  font-size: 17px;
}
input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d1d5db;
}
input:focus {
  box-shadow: 0px 0px 5px #8b5cf6;
}
button {
  margin-top: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 400ms ease-out;
}

#AjouteTele {
  background-color: #6366f1;
  border-bottom: 3px solid #4338ca;
  box-shadow: 0px 0px 8px #818cf8;
}

#AjouteTele:hover {
  background-color: #818cf8;
  border-bottom: 3px solid #4338ca;
  box-shadow: none;
}
.supprimer {
  box-shadow: none;
  border-bottom: 2px solid #dc2626;
  color: #dc2626;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: -2px;
  padding: 4px 8px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 500ms ease-out;
}
.supprimer:hover {
  background-color: #ef4444;
  color: white;
  border-bottom: 2px solid #dc2626;
}
#envoyer {
  background-color: #10b981;
  border-bottom: 3px solid #059669;
  box-shadow: 0px 0px 8px #34d399;
}
#envoyer:hover {
  background-color: #34d399;
  border-bottom: 3px solid #059669;
  box-shadow: none;
}
.error {
  display: inline;
  color: #ef4444;
  font-size: 12px;
  margin-left: 10px;
}
.valide {
  border: 2px solid #10b981;
}
.invalide {
  border: 2px solid #ef4444;
}