body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}

.liste {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     background-image: url('Images/bg_body.png');
}

.menu {
    position: absolute;
    right: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu li {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.home {
    background-color: #92CE0A;
}

.Videos {
    background-color: #FFE202;
}

.Campaigns {
    background-color: #0052DA;
}

.Volunteer {
    background-color: #FF5241;
}

.Contact {
    background-color: #04BACF;
}

.text1 {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;  
}

.text1 img {
    width: 100%;
    height: auto;
    
}
.tous{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
.adress{
    float: left;
    width: 40%; 

}

.form{
    float: right;
    width: 46%;  

}
.bleu{
    color: #0078D7;
}
.button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button button {
    padding: 10px 30px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.send {
    background-color: #92CE0A;
}

.clear {
    background-color: #92CE0A;
}
.tous h2{
 color: #0078D7;
  margin: 0;
  font-size: 20px;
}
.all {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.digital h2 {
  color: #0078D7;
  margin: 0;
  font-size: 16px;
}

.digital p {
  font-size: 12px;
  color: #555;
  margin: 3px 0 0 0;
}

.footer {
  display: flex;
  gap: 7px;
}

.footer div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.facebook {
  background-color: #92CE0A;
}

.twitter {
  background-color: #FFE202;
}

.pinterest {
  background-color: #0052DA;
}

