* {
    margin: 0;
    padding: 0;
    
}
.nav-bar ul{
    background-color: rgb(73, 230, 73);
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
    display: flex;                  /* active le mode flexbox */
    justify-content: space-between; /* espace égal entre les éléments */
    align-items: center;  
    border: 1px solid;
              /* Centre verticalement */
}
.nav-bar li {
 flex: 1;
 text-align: center;
 border-right: 1px solid black; /* Bordure verticale */
  
}

.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  text-align: center;
  
}