* {
    margin: 0;
    padding: 0;
}

.nav-bar ul {
    background-color: rgb(73, 230, 73);
    list-style-type: none;
    width: 200px;
    border: 1px solid;
}

.nav-bar li {
    text-align: center;
    border-bottom: 1px solid black; 
    color: white;
    padding: 15px 10px;
    display: block;
}
