 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .container {
            width: 600px;
            height: 400px;
            border: 1px solid #333;
            display: flex;
            flex-direction: column;
        }

        .section-blue {
            background-color: #4A7CB8;
            height: 30%;
            width: 100%;
            border: 1px solid #333;
        }

        .middle-row {
            display: flex;
            height: 40%;
            width: 100%;
        }

        .section-orange {
            background-color: #E88547;
            width: 25%;
            border: 1px solid #333;
        }
        .section-orange1 {
            background-color: #E88547;
            width: 25%;
            
        }

        .section-white {
            background-color: #F5F5F5;
            width: 50%;
            border: 1px solid #333;
        }

        .section-green {
            background-color: #9ACD6B;
            height: 30%;
            width: 100%;
            border: 1px solid #333;
        }