*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.bleu{
background-color: blue;
width: 100%;
height: 25%;
border: 1px solid;
}
.row{
    display: flex;
    height: 50%;
    width: 100%;
}
.orange{
    background-color: orange;
    width: 30%;
    border: 1px solid;
}
.white{
    background-color: white;
    width: 70%;
    border: 1px solid;
}
.green{
    background-color: green;
    width:100%;
    border: 1px solid;
    height: 25%;
}